<%= form_with(model: invitation, local: true) do |form| %>
  <div class="modal-body">
    <ul class="errors">
    </ul>

    <div class="form-group">

  <div class="form-group">
    <%= form.label :organization_id, "Organisation", class: "required" %>
    <%= form.collection_select(:organization_id, @organizations, :id, :name, {prompt: "Sélectionner"}, class: "form-control", style: "width: 100%") %> 

  </div>

  <div class="form-group">
    <%= form.label :service_id, "Service", class: "required" %>
    <%= form.collection_select(:service_id, @services, :id, :name, {prompt: "Sélectionner"}, class: "form-control", style: "width: 100%") %> 

  </div>

  <div class="form-group">
    <%= form.label :position, "Poste", class: "required" %>
    <%= form.text_field :position, class: "form-control", placeholder: "Poste", required: true %>
  </div>

 

  <div class="form-group">
    
    <%= form.hidden_field :recipient_id, value: (@recipient.id if @recipient) %>
  </div>

  </div><!-- modal body -->
  <div class="modal-footer">
    <%= link_to "Annuler", "#", class: "btn btn-secondary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1", data: {dismiss: "modal"} %>
    <%= form.submit "Envoyer",  class: "btn btn-primary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1",  "data-loading-text"=>"Loading...", autocomplete: "off" %>
  </div>
<% end %>
