<% @invitations.each do |invitation| %>
  <tr>
    <td><%= invitation.created_at.strftime("%d/%m/%Y") %></td>
    <td><%= invitation.organization.name %></td>
    <td><%= invitation.service.name %></td>
    <td><%= invitation.position %></td>
    <td><%= user(invitation.recipient_id).login %></td>
    <td><%= invitation.status %></td>
    <td>
        <div class="action-buttons">
            




<%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>
'), invitation_delete_path(invitation), remote: true, title: "Supprimer", class: "delete" %>
</div>
</td>
  </tr>
<% end %>