<p id="notice"><%= notice %></p>

<p>
  <strong>Organization:</strong>
  <%= @invitation.organization %>
</p>

<p>
  <strong>Service:</strong>
  <%= @invitation.service %>
</p>

<p>
  <strong>Position:</strong>
  <%= @invitation.position %>
</p>

<p>
  <strong>Status:</strong>
  <%= @invitation.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @invitation.user %>
</p>

<p>
  <strong>Recipient:</strong>
  <%= @invitation.recipient %>
</p>

<%= link_to 'Edit', edit_invitation_path(@invitation) %> |
<%= link_to 'Back', invitations_path %>
