<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @subscription.user %>
</p>

<p>
  <strong>Subscription pack:</strong>
  <%= @subscription.subscription_pack %>
</p>

<p>
  <strong>Status:</strong>
  <%= @subscription.status %>
</p>

<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>
